.listBox {
  h5 {
    line-height: 50px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  .list {
    background: #fff;
    padding: 15px;
  }
  .content {
    width: 200px;
    span {
      margin: 0 5px;
    }
  }
  .amount {
    font-weight: 600;
  }
}
:global {
  .felx-list {
    .ant-list-item-meta-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: center;
    }
    .ant-list-item-meta-title {
      margin: 0;
    }
  }
  .tools {
    display: flex;
    flex-direction: column;
    width: 100px;
    button {
      margin-top: 5px;
    }
  }
  .status1 {
    color: #faad14;
  }
  .status2 {
    color: #0c8e9c;
  }
  .status3 {
    color: #1890ff;
  }
  .status {
    color: red;
  }
}
